[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-assets = "*"
pytailwindcss = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-login = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.9"
