<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />

    <script src="https://unpkg.com/flowbite@1.4.7/dist/datepicker.js"></script>


    <title>Attraction booking</title>

  </head>

  <header class="bg-white shadow-sm lg:static lg:overflow-y-visible py-3">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 xl:col-span-6">
      <div class="relative flex justify-between xl:grid xl:grid-cols-12 lg:gap-8">
        <div class="flex md:absolute md:left-0 md:inset-y-0 lg:static xl:col-span-2">
          <div class="flex-shrink-0 flex items-center">
            <a href="#">
              <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=indigo&shade=600" alt="Workflow">
            </a>

          </div>

        </div>
  
        {% if current_user.is_authenticated%}
        <div class="hidden lg:flex lg:items-center lg:justify-end xl:col-span-4">
          <p class="text-indigo-600 hover:text-indigo-500 px-4 py-2"> Welcome, {{current_user.name}} </p>
          <p class=" flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"> View Booking </p>
          <a href="/logout" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 px-12 py-2"> Logout </a>
        </div>
        {% else %}
        <div class="hidden lg:flex lg:items-center lg:justify-end xl:col-span-4">
          <a href="/login" class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"> Sign in </a>
        </div>
        {% endif %}

    
      </div>
    </div>

  </header>

  <body class="h-full">

    {% block content %}
    {% endblock content %}

</body>
</html>